@import "../defaulttheme/sass/main.scss";

@import "./theme.scss";

// Overwriting colors, margins and fontSizes already used in main.scss with theme values
body {
    background: $page-bg;
    &.on-page-editor {
        background: $page-bg-editor !important;
    }
}

a {
    color: $text-basic;
    &:hover {
        color: $text-basic-active;
    }
}

@import "../defaulttheme/sass/component-accordion.scss";
@import "../defaulttheme/sass/component-archive.scss";
@import "../defaulttheme/sass/component-breadcrumb.scss";
@import "../defaulttheme/sass/component-carousel.scss";
@import "../defaulttheme/sass/component-column-splitter.scss";
@import "../defaulttheme/sass/component-container.scss";
@import "../defaulttheme/sass/component-divider.scss";
@import "../defaulttheme/sass/component-event-list.scss";
@import "../defaulttheme/sass/component-facebook-comments.scss";
@import "../defaulttheme/sass/component-feed.scss";
@import "../defaulttheme/sass/component-field-editor.scss";
@import "../defaulttheme/sass/component-file-list.scss";
@import "../defaulttheme/sass/component-flash.scss";
@import "../defaulttheme/sass/component-flip.scss";
@import "../defaulttheme/sass/component-forms.scss";
@import "../defaulttheme/sass/component-forms.scss";
@import "../defaulttheme/sass/component-fullcalendar.scss";
@import "../defaulttheme/sass/component-galleria.scss";
@import "../defaulttheme/sass/component-iframe.scss";
@import "../defaulttheme/sass/component-image.scss";
@import "../defaulttheme/sass/component-language-selector.scss";
@import "../defaulttheme/sass/component-link-list.scss";
@import "../defaulttheme/sass/component-link.scss";
@import "../defaulttheme/sass/component-login.scss";
@import "../defaulttheme/sass/component-logout.scss";
@import "../defaulttheme/sass/component-map.scss";
@import "../defaulttheme/sass/component-media-link.scss";
@import "../defaulttheme/sass/component-navigation.scss";
@import "../defaulttheme/sass/component-page-list.scss";
@import "../defaulttheme/sass/component-pagination.scss";
@import "../defaulttheme/sass/component-playlist.scss";
@import "../defaulttheme/sass/component-promo.scss";
@import "../defaulttheme/sass/component-richtext-content.scss";
@import "../defaulttheme/sass/component-search-other.scss";
@import "../defaulttheme/sass/component-site-selector.scss";
@import "../defaulttheme/sass/component-sitecore-form.scss";
@import "../defaulttheme/sass/component-skip-link.scss";
@import "../defaulttheme/sass/component-snippet.scss";
@import "../defaulttheme/sass/component-social-media-share.scss";
@import "../defaulttheme/sass/component-tabs.scss";
@import "../defaulttheme/sass/component-tag-cloud.scss";
@import "../defaulttheme/sass/component-tag-list.scss";
@import "../defaulttheme/sass/component-title.scss";
@import "../defaulttheme/sass/component-toggle.scss";
@import "../defaulttheme/sass/component-twitter.scss";
@import "../defaulttheme/sass/component-video.scss";


@import "../defaulttheme/sass/overlay.scss";
@import "../defaulttheme/sass/privacy-warning.scss";

