$horizontal-spacing: 10px;

.rjsf {
    .text-danger {
        color: $text-red;
    }
}

// fake fieldsets because fieldsets don't support flex
.object-fieldset {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .form-group.field-string,
    .form-group.field-array {
        width: calc(50% - #{$horizontal-spacing});
    }

    .form-group.full-width {
        width: calc(100% - #{$horizontal-spacing});
    }
}

.form-group.field-string,
.form-group.field-array {
    margin: 10px #{$horizontal-spacing / 2};
}

.form-group.field.field-object {
    width: 100%;
    margin-top: 10px;

    .fake-legend {
        font-size: 22px;
        color: #2C3C8A;
        font-weight: bold;
        width: 100%;
        margin-bottom: 10px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
header{padding-top:30px;padding-bottom:30px;}
main{}
footer{background:#e8e9ed;padding-top:25px;padding-bottom:25px;}
a,a:link,a:visited{color:#2c3c8a;text-decoration:none;}

.bg-blue{background:#4aafe0;}

.container{max-width:100%;}
.max-width{max-width:1200px;margin:0 auto;display:block;}
.lift-and-shift-up{margin-top:-50px;z-index:999;position:relative;}
.padding-top-50{padding-top:50px;}
.padding-bottom-50{padding-bottom:50px}
.padding-bottom-100{padding-bottom:100px;}

.logo img{width:100%;height:auto;}
h1{font-size:20px;color:#ffffff;font-weight:800;font-size:3rem;margin:20px 0 25px 0;}
.subtitle{font-size:16px;color:#ffffff;font-weight:400;}

.link-list .component-content ul{list-style:none;display:inline-block;margin:0 auto;padding:0;}
.link-list .component-content ul li{float:left;margin-right:30px;}
.link-list .component-content ul li:last-of-type{margin-right:0px;}
.link-list .component-content ul li a,footer .link-list ul li a:hover{text-decoration:none;}

.tile{
	text-align:center;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
border-radius:3px;
padding:40px 0 30px 0;
margin-bottom:30px;
min-height:275px;
background:#ffffff;
}
.tile .icon{display:block;margin:0;text-align:center;}
.tile .icon img{max-width:100px;height:auto;}
.tile .title{display:block;float:none;clear:both;margin:25px 0;}
.tile .title a{text-decoration:none;font-size:1.5rem;font-weight:800;}